:root{
    --white-color: #fff; 
    --black-color: #000;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    background-image: url(../img/img-bg.svg);
}

a.nav-link {
    color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 300;
}

a.nav-link:hover {
    color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 700;
}

.nav-item {
    padding-left: 0.7rem;
    padding-right: 0.7rem;
}

