:root{
    --white-color: #fff; 
    --black-color: #000;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    background-image: url(../img/img-bg.svg);
}

.navbar {
    margin: 1.3vw 0 1.3vw 0;
}

a.nav-link {
    color: var(--white-color);
    font-size: 1.7rem;
    font-weight: 300;
}

a.nav-link:hover {
    color: var(--white-color);
    font-size: 1.7rem;
    font-weight: 700;
}

.nav-item {
    padding-left: 0.7rem;
    padding-right: 0.7rem;
}

button.navbar-toggler {
   border: 0.5px solid var(--white-color);
}

div.container {
    max-width: 110rem;
    padding: 0 6vmin 0 6vmin;
}

#conteudo-home-page {
    max-width: 110rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container h1 {
    padding: 13vw 0 0 0;
    font-size: 6.5rem;
    font-weight: 800;
    line-height: 6.5rem;
}

#logos-stores {
    display: flex;
    justify-content: flex-start;
    width:50rem;
    padding: 2.5rem 0;
}

#google-play img:hover{
    height:6.5rem;
}

#app-store{
    padding:0 0 0 3rem;
}

#app-store img:hover{
    height:6.5rem;
}

#card-home-page img {
    max-width: 45rem;
    animation: downUp 4s;
    animation-iteration-count: infinite;
}

@keyframes downUp {
    from {
        padding-top: 0rem;
    }
    50% {
        padding-top: 4rem;
    }
    to {
        padding-top: 0rem;
    }
}

@media (max-width: 960px ) {
    .navbar {
        margin: 5vw 0 5vw 0;
    }

    .container h1 { 
        font-size: 4rem; 
        line-height: 4rem;
    }
    
    #google-play img {
        max-height:5rem;
    }
    
    #app-store img {
        max-height:5rem;
    } 

    #app-store{
        padding:0 0 0 8vw;
    }
    #card-home-page img {
        max-width: 35rem;
    }
}

